extends common/adminnav

block layout-content
  main#main 
    .admin
      .admin-content
        .admin-text
          .content-addstyle
            h2.addstyle-title Add a Style Name
            form(method="POST", action="/admin/style/add/submit" onsubmit="return validateAdminForm()")
              div 
                label(for="stylename") Style Name: 
                input(type="text", id="stylename", name="stylename")
              div
                p#error-message(style="color: red; display: none;") Please enter a valid stylename.
              button(type="submit" class="add-btn") Add
          .content-stylelist 
            h2.stylelist-title List of Styles
            table 
              thead 
                tr 
                  th Stylename
                  th  Actions
                  th  
              tbody
                each style in styles 
                  tr 
                    td.stylenames #{style.stylename} 
                    td 
                      form(method="GET", action="/admin/style/edit")
                        input(type="hidden", name="styleid", value=style._id.toHexString())
                        button(type="submit" class="edit") Edit
                    td
                      form(method="POST", action="/admin/style/delete")
                        input(type="hidden", name="styleId", value=style._id)
                        button(type="submit" class="delete-btn") Delete

  script.
    function validateAdminForm() {
      const addStylename = document.querySelector('input[name="stylename"]').value;
      const errorMessage = document.getElementById('error-message');
      if (addStylename.trim() === "") {
        errorMessage.style.display = 'block';
        return false;
      } else {
        errorMessage.style.display = 'none';
        return true;
      }
    }
